extends layout

block content 
    form(id='form' method='post' action=('/edit/' + person._id))
        label(for='username') Username: 
        input(type='text' name='username' value=person.username)
        br
        label(for='password') Password:
        input(type='text' name='password' value=person.password)
        br
        label(for='age') Age: 
        input(type='text' name='age' value=person.age)
        br
        label(for='image') Image:
        input(type='text' name='image' value=person.image)
        br
        input(type='submit' value='Update Person')